# Diretórios e arquivos gerados por ambientes virtuais
venv/
.env/

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários ou de cache
*.pyc
*.pyo
__pycache__/

# Dados e modelos grandes
data/
models/

# Arquivos de log
*.log

# Dependências geradas automaticamente
*.egg-info/
*.egg
build/
dist/

# Configurações locais do Streamlit
.streamlit/

# Arquivos grandes e desnecessários
*.wav
*.mp3
*.h5
*.pkl

# Configurações específicas do IDE
.vscode/
.idea/
