numpy
pandas
matplotlib
seaborn
librosa
scikit-learn
tensorflow    
streamlit
soundfile       # Necessário para lidar com arquivos de áudio
kaggle          # Caso você queira, pode usar a API do Kaggle para pegar os audios
